<!DOCTYPE html> 
<html lang="en">

<head> 

	<title> CMU Contracts Versioning Prototype </title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/diff.js') }}"></script>

	<!-- <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 -->
	<style type="text/css">
        td.added {background-color: #68FF7C}
        td.removed {background-color: #FF8977}
    </style>
 
</head>

<body>

<div class="container">
	
	<h1>Changes</h1>
	<a href = "/return_files/" target="blank">Download New Terms</a>

<script> 

var color = '', span = null;

$(document).ready(function() {	
	displayDifferences();
});

function displayDifferences() { 
	var diff = JsDiff.diffWords('{{oldTerms}}', '{{newTerms}}'),
				display = document.getElementById('display'),
				fragment = document.createDocumentFragment();


	diff.forEach(function(part){
		color = part.added ? 'green' : part.removed ? 'red' : 'grey';
		span = document.createElement('span');
		span.style.color = color;
		span.appendChild(document.createTextNode(part.value));
		fragment.appendChild(span);
	});

	display.appendChild(fragment);
}

</script>

<pre id="display"></pre>

	
</div>

</body>


</html>


