<!DOCTYPE html>
<html lang="en">

<head>

	<title> CMU Contracts Versioning Prototype </title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/diff.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/animations.js') }}"></script>

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">

	<!-- <link type="text/css" rel="stylesheet" href=" {{ url_for('static', filename='FiraSans-Book.otf')}}"/>  -->

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,600" rel="stylesheet">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

	<!-- <link rel="stylesheet" media="all" type="text/css" href="../static/css/styles.css?q=1280549780"/> -->

	<link rel="stylesheet" media="all" type="text/css" href="../static/css/default-theme.css"/>

	<link rel="stylesheet" media="all" type="text/css" href="../static/css/side-comments.css"/>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
	<script src="{{ url_for('static', filename='../static/js/side-comments.js') }}"></script>
 

</head>

<body>

<div class="container">
	<br/><br/>
	<h2> CMU Contracts Versioning Prototype </h2>
	<p>
		(Demo for basic versioning functionality)
	</p>

	<script>

	/* Creates a fileReader instance and saves the text from the
	uploaded text file into a variable called textFromFileLoaded.
	*/
	function loadFileAsText() {
		var fileToLoad = document.getElementById("fileToLoad").files[0];
		var fileReader = new FileReader();

		fileReader.onload = function(fileLoadedEvent){
			console.log("loading file")
			var textFromFileLoaded = fileLoadedEvent.target.result;
			/* Call on the callback */
			oldTerms = textFromFileLoaded
			getLoadedText(textFromFileLoaded);
		};

		fileReader.readAsText(fileToLoad);

		/* Callback definition */
		var getLoadedText = function(data) {
			oldTerms = data;
			// pass text into hidden form input called textFile
			document.myform.textFile.value = oldTerms;
		}
	}

	/* Makes a JQuery AJAX request to Python code. */
	function runPyScript(){
		var name = $('#name').val();
		var link = $('#link').val();
		var start = $('#start').val();
		var end = $('#end').val();
		var textFile = $('#textFile').val();
        $.ajax({
            type: "POST",
            url: "/compare",
            async: false,
            dataType: "html",
            data: $('form').serialize()
    })};

    // used for scraping a new software
    function runPyScript2(){
		var name = $('#name').val();
		var link = $('#link').val();
		var start = $('#start').val();
		var end = $('#end').val();
		var textFile = $('#textFile').val();
        $.ajax({
            type: "POST",
            url: "/scrape_only",
            async: false,
            dataType: "html",
            data: $('form').serialize()
    })};


	</script>

	<form>
        <p> Is this the software you are looking for? </p>

        {{ name }}

        <input type="hidden" id="name" name="name" value="{{name}}" required>
        <input type="hidden" id="link" name="link" value="{{link}}" required>
        <input type="hidden" id="start" name="start" value="{{start}}" required>
        <input type="hidden" id="end" name="end" value="{{end}}" required>
        <input type="hidden" id="textFile" name="textFile" type="text" value="0" />

        <a class = "button is-medium is-orange" onclick="runPyScript()" href="{{url_for('results')}}">Compare Text</a>
    </form>
	<br/><br/>

</div>

</body>


</html>