<!DOCTYPE html> 
<html lang="en">

<head> 

	<title> CMU Contracts Versioning Prototype </title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/diff.js') }}"></script>

	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
</head>

<body>

<div class="container">
	<br/><br/>
	<h2> CMU Contracts Versioning Prototype </h2>
	<p>
		(Demo for basic versioning functionality)
	</p>

	<script> 


	$(document).ready(function() {
		
		{% set oldT = 'this?' %}
		{% set newT = 'lol' %}

		$('#compareButton').append(
		$('<a/>').attr('onclick', 'runPyScript()')
				.attr('href', "{{ url_for('results', oldStuff=oldT|safe, newStuff=newT|safe) }}")
				.text("Compare Text")
	);	


	// 	var a = document.createElement('a');
 //    	var linkText = document.createTextNode("CREATE NEW");
 //    	a.href = "{{url_for('results', oldStuff="+oldTerms+", newStuff="+newTerms+")}}";
 //    	document.getElementsByTagName('body')[0].appendChild(a);
 //    	var para = document.createElement("p");
	// 	var node = document.createTextNode("This is new.");
	// 	para.appendChild(node);
	});

	

 //    document.write(`<a onclick="runPyScript()" href="{{url_for("results", oldStuff='${oldTerms}', newStuff='${newTerms}')}}">Compare Text</a>`);

    // var content='';
    // content = content.concat("<a onclick='runPyScript()' href='{{url_for('results', oldStuff=",${oldTerms},", newStuff=",${newTerms},")}}'>Compare Text</a>");
    // document.write(content);


	/* Creates a fileReader instance and saves the text from the 
	uploaded text file into a variable called textFromFileLoaded.
	*/
	function loadFileAsText(){
		var fileToLoad = document.getElementById("fileToLoad").files[0];
		var fileReader = new FileReader();

		fileReader.readAsText(fileToLoad);

		fileReader.onload = function(fileLoadedEvent){	
			console.log("loading file")
			var textFromFileLoaded = fileReader.result;

			oldTerms = textFromFileLoaded;
			document.myform.textFile.value = oldTerms;
		};

	}

	/* Makes a JQuery AJAX request to Python code. */ 
	function runPyScript(){
		var name = $('#name').val();
		var link = $('#link').val();
		var start = $('#start').val();
		var end = $('#end').val();
		var textFile = $('#textFile').val();


        $.ajax({
            type: "POST",
            url: "/compare",
            async: false,
            dataType: "json",
            data: $('form').serialize(), 
            success: function(data) { 
            	console.log(data);
            	console.log("possible data passed back");
            	oldTerms = data.oldStuff; 
            	newTerms = data.newStuff; 

            	{% set oldT = oldTerms %}
				{% set newT = newTerms %}

				debugger;

				alert(data.oldStuff);


            	// document.write('<a href="'+desiredLink+'">'+desiredText+'</a>');
     		}
    })};

    // used for scraping a new software
    function runPyScript2(){
		var name = $('#name').val();
		var link = $('#link').val();
		var start = $('#start').val();
		var end = $('#end').val();
		var textFile = $('#textFile').val();
        $.ajax({
            type: "POST",
            url: "/scrape_only",
            async: false,
            dataType: "html",
            data: $('form').serialize()
    })};

   //  function compareText(){
   //  	$('compareText').click(function() {
   //  		console.log("clicked button")
   //  		var name = $('#name').val();
			// var link = $('#link').val();
			// var start = $('#start').val();
			// var end = $('#end').val();
	  //       $.ajax({
	  //           type: "POST",
	  //           url: "/compare",
	  //           async: false,
	  //           dataType: "html",
	  //           data: $('form').serialize(),
	  //           success: function(response) {
	  //           	console.log(response)
	  //           	console.log("SUCCESS")
	  //           	("#container").load("changes.html");
	  //       	},
	  //       	error: function (xhr, status, error) {
	  //           	console.log("ERROR");
	  //       	}
   //  		});
   //  	});
   //  };

	/* Need a better way to do this. Currently indirectly reads in updated contract terms from the text file that 
	the Scrapy spider creates from web scraping.  */
	// function readNewContract() { 
	// 	var fileToLoad = document.getElementById("newFileToLoad").files[0];
	// 	var fileReader = new FileReader(); 

	// 	fileReader.onload = function(fileLoadedEvent){
	// 		var textFromFileLoaded = fileLoadedEvent.target.result;
	// 		getLoadedText(textFromFileLoaded);
	// 	};
	  	
	//   	fileReader.readAsText(fileToLoad);

	//   	/* Callback definition */ 
	// 	var getLoadedText = function(data) {
	// 		console.log(data);
	// 		newTerms = data;
	// 		displayDifferences();
	// 	}
	// }

	/* Uses JsDiff library to show textual differences in old and new contracts. 
	Documentation: https://www.npmjs.com/package/diff
	*/ 
	// function displayDifferences() { 
	// 	var diff = JsDiff.diffWords(oldTerms, newTerms),
	//     	display = document.getElementById('display'),
	//     	fragment = document.createDocumentFragment();

	//     diff.forEach(function(part){
	//     	color = part.added ? 'green' : part.removed ? 'red' : 'grey'; 
	//     	span = document.createElement('span');
	//     	span.style.color = color;
	//     	span.appendChild(document.createTextNode(part.value));
	//     	fragment.appendChild(span);
	//     });

	//     display.appendChild(fragment);
	// }

	</script>

	<div id="compareButton"></div>

	<form role="form" name="myform">
        <h3>Software Info</h3>
        <input type="text" id="name" name="name" placeholder="Software Name" required>
        <input type="text" id="link" name="link" placeholder="Link" required>
        <input type="text" id="start" name="start" placeholder="Start" required>
        <input type="text" id="end" name="end" placeholder="End" required>
        <input type="hidden" id="textFile" name="textFile" type="text" value="0" />
        
        <p><a onclick="runPyScript2()" href = "/return_files/" target="blank">Download</a></p>

    </form>

    <h3>Compare New and Old Terms</h3>

	<h5>Select old terms and conditions</h5>
	<input type="file" id="fileToLoad" name="fileToLoad">
	<button onclick="loadFileAsText()">Load selected file</button>

	<p><a   href="{{url_for('results', oldStuff='lol', newStuff='lololol')}}">Compare Text</a></p>

	 <!-- <button onclick="runPyScript()" id="compareText"> Compare contract text</button> -->
	
	<br/><br/>
	
</div>

</body>


</html>