<!DOCTYPE html>
<html lang="en">

<head>

	<title> CMU Contracts Versioning </title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/diff.js') }}"></script>

	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div class="container">
	<br/><br/>
	<h2> CMU Contracts Versioning </h2>
	<p>
		(Demo for basic versioning functionality)
	</p>


	{% for software in softwares %}
        {{ software.name }}
        <br/>
    {% endfor %}


	<br/><br/>

</div>

</body>


</html>