<!DOCTYPE html>
<html lang="en">

<head>

	<title> CMU Contracts Versioning </title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/diff.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/animations.js') }}"></script>

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">

	<!-- <link type="text/css" rel="stylesheet" href=" {{ url_for('static', filename='FiraSans-Book.otf')}}"/>  -->

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,600" rel="stylesheet">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

	<!-- <link rel="stylesheet" media="all" type="text/css" href="../static/css/styles.css?q=1280549780"/> -->

	<link rel="stylesheet" media="all" type="text/css" href="../static/css/default-theme.css"/>

	<link rel="stylesheet" media="all" type="text/css" href="../static/css/side-comments.css"/>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
	<script src="{{ url_for('static', filename='../static/js/side-comments.js') }}"></script>

</head>

<body>
<div class="sidenav">
	<img class = "logo" src = "/static/white.png">
	<div class = "sidenav-content">
		<a href="#"><i class="fas fa-home"></i>  Home</a>
		<a href="{{url_for('list')}}"><i class="fas fa-list-ul"></i>  Software List</a>
		<a href="#"><i class="fas fa-question-circle"></i>  Help</a>
	</div>
</div>

<div id="container">

	
	<br/><br/>

</div>

</body>


</html>