<!DOCTYPE html>
<html lang="en">

<head>

	<title> CMU Contracts Versioning Prototype </title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/diff.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/animations.js') }}"></script>

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">

	<!-- <link type="text/css" rel="stylesheet" href=" {{ url_for('static', filename='FiraSans-Book.otf')}}"/>  -->

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,600" rel="stylesheet">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

	<!-- <link rel="stylesheet" media="all" type="text/css" href="../static/css/styles.css?q=1280549780"/> -->

	<link rel="stylesheet" media="all" type="text/css" href="../static/css/default-theme.css"/>

	<link rel="stylesheet" media="all" type="text/css" href="../static/css/side-comments.css"/>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
	<script src="{{ url_for('static', filename='../static/js/side-comments.js') }}"></script>


</head>

<body>
<div class="sidenav">
	<img class = "logo" src = "/static/white.png">
	<div class = "sidenav-content">
	<a href="{{url_for('main')}}"><i class="fas fa-home"></i>  Home</a>
	<a href="{{url_for('list')}}"><i class="fas fa-list-ul"></i>  Software List</a>
	<a href="{{url_for('backup')}}"><i class="fas fa-archive"></i>  Backup</a>
	<a href="{{url_for('help')}}"><i class="fas fa-question-circle"></i>  Help</a>
	</div>
</div>

<div id="container">

<h1> <div class = "orange">|</div> New Software </h1>

	<script>

	/* Creates a fileReader instance and saves the text from the
	uploaded text file into a variable called textFromFileLoaded.
	*/
	function loadFileAsText() {
		var fileToLoad = document.getElementById("fileToLoad").files[0];
		var fileReader = new FileReader();
		var element = document.getElementById("feedback");

		/* This is an asynchronous call */
		fileReader.readAsText(fileToLoad);

		fileReader.onload = function(fileLoadedEvent){
			console.log("loading file")
			var textFromFileLoaded = fileLoadedEvent.target.result;
			/* Call on the callback */
			oldTerms = textFromFileLoaded
			getLoadedText(textFromFileLoaded);
			element.classList.toggle("is-active");

		};

		/* Callback definition */
		var getLoadedText = function(data) {
			oldTerms = data;
			// pass text into hidden form input called textFile
			document.myform.textFile.value = oldTerms;
		}
	}

	/* Makes a JQuery AJAX request to Python code. */
	function runPyScript(){
		var name = $('#name').val();
		var link = $('#link').val();
		var start = $('#start').val();
		var end = $('#end').val();
		var textFile = $('#textFile').val();

        $.ajax({
            type: "POST",
            url: "/compare",
            async: false,
            dataType: "html",
            data: $('form').serialize()
    })};

    // used for scraping a new software
    function runPyScript2(){
		var name = $('#name').val();
		var link = $('#link').val();
		var start = $('#start').val();
		var end = $('#end').val();
		var textFile = $('#textFile').val();
        $.ajax({
            type: "POST",
            url: "/scrape_only",
            async: false,
            dataType: "html",
            data: $('form').serialize()
    })};

    // used for scraping a new software
    function addDescToDB(){
        var name = $('#name').val();
		var desc = $('#desc').val();
        $.ajax({
            type: "POST",
            url: "/add_desc",
            async: false,
            dataType: "html",
            data: $('add_desc').serialize()
    })};


	</script>

	<div class="box">
	    <p> {{name}} is a new software in this system, and has been added to the database.</p>
        <p>Add a description if desired</p>
        <form role="add_desc" name="add_desc">
            <input type="text" id="desc" name="desc" value = "Description" required>
            <input type="hidden" id="name" name="name" value="{{name}}" required>
            <a class="button is-medium" onclick="addDescToDB">Add Description</a>
        </form>
        <p>If you don't have any old terms to compare it to you can go back the form.</p>
        <a class = "button is-medium" href="{{url_for('main')}}">Back to Form</a></br>
    	<form role="form" name="myform">
            <p>If you have an old terms and agreements (must be .txt file) for this software, you can compare the terms manually here. </p>

            <input type="hidden" id="name" name="name" value="{{name}}" required>
            <input type="hidden" id="link" name="link" value="{{link}}" required>
            <input type="hidden" id="start" name="start" value="{{start}}" required>
            <input type="hidden" id="end" name="end" value="{{end}}" required>
            <input type="hidden" id="textFile" name="textFile" type="text" value="0" />

            <p><br /></p>

            <input type="file" id="fileToLoad" name="fileToLoad">
            <a class = "button is-medium" onclick="loadFileAsText()">Load selected file</a><div id = "feedback" class = "fileloaded"> <i class="fas fa-check is-green"></i> File Loaded</div></br>

            <!-- <button onclick="loadFileAsText()">Load selected file</button> -->
            <!-- <p><a onclick="runPyScript()" href="{{url_for('results', my_var=name|safe)}}">Compare Text</a></p> -->
            <p><a class = "button is-medium is-orange" onclick="runPyScript()" href="{{url_for('results')}}">Compare Text</a></p>
            </br></br>

    		<!-- <div id = "loading"><p><img src="/static/91.gif" /> Please Wait</p></div> -->

            <!-- <a class = "button is-medium is-orange" onclick="runPyScript()" href="{{url_for('results')}}">Compare Text</a> -->

        </form>
    </div>
	<br/><br/>

</div>

</body>


</html>