body {
  margin: 0;
  font-family: 'Fira Sans';
/*  src: {{ url_for('static', filename= 'FiraSans-Book.otf') }}; 
*/color: #414141;
  font-size: 0.9em;
  background-color: #FBFDFF;
  
}


/*@font-face { 
  font-family: Fira; 
  src: {{ url_for('static', filename= 'FiraSans-Book.otf') }}; 
  src: url('FiraSans-Book.otf');
} */


/*CONTAINER/GRIDS */
.box {
	background-color: #ffffff;
	width: 100%;
	margin: auto;
	margin-top: 40px;
	padding: 20px 25px;
	/*vertical-align: middle;*/
	border-radius: 1px;
	box-shadow: 1.5px 5px 14px #B2B2B2;
}

.box a {
	/*color: white;*/
	text-decoration: none;
	/*font-weight: bold;*/
}

box a:hover {
	color: #7fb6f7;
}

#container {
	margin: auto;
	margin-top: 40px;
	width: 55%;
}

.changes {
	line-height: 24px;
}

.changes th {
	height: 150px;
}



/* HEADERS */

h1 {
	font-weight: 400;
}


h2 {

}

h3 {
	font-weight: 400;
}

h4 {
	/*color: #FB9D13;*/
}

h5 {
	color: #FB9D13;
}

.orange {
	color: #FB9D13;
	display: inline;
}

.center-text {
	text-align: center;
}

.description {
	text-align: center;
	font-size: 14px;
}

.description a {
	color: #FB9D13;
	text-decoration: none;
}

/*BUTTONS */

		/*to do: make hover and click states*/

.button {
	border-radius: 3px;
	display: inline-block;
	color: #FFFFFF;
	background-color: #A7B2C1;
	padding: .7em;
	text-align: center;
	letter-spacing: .07em;
	width: 120px;
	font-size: 0.9em;
	margin-top: 1em;
	margin-bottom: 1em;
	color: white;
}

.button a {
	color: white;
}


.button:hover {
	background-color: #8B97A8;
}

.is-small {
	width: 80px;
}

.is-orange {
	background-color: #FB9D13;
}

.is-button .is-green a {
	color: white;
}


.is-green:hover {
	/*background-color: #49B166;*/
	background-color: #69ea8d;
}

.is-wide {
	width: 220px;
}

/*FORMS*/

input {
	width: 30%;
	padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #D1D4DD;
    /*box-sizing: border-box;*/
    /*border: 2px grey;*/
    /*border-radius: 3px;*/
}

label {
	color: #747476;
	/*font-weight: bold;*/
	font-size: 1.2em;
}

/** NAV BAR **/

.sidenav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #3E4657; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    box-shadow:  1.5px 1.5px 7px 0px #9B9B9B;
}

.sidenav a {
    padding: 6px 8px 6px 28px;
    text-decoration: none;
    font-size: 16px;
    /*color: #818181;*/
    color: white;
    display: block;

}

.sidenav-content {
	padding-top: 60px;
	padding-left: 15px;
	line-height: 32px;
}

.sidenav-content i {
	padding-right: 15px;
}


/** IMAGES **/

.sidenav .logo {
	width: 90%;
	padding: 12px;
}

/** HEADERS **/


#loading {
	display: none;
}

/* CHANGES TABLE */
td.added {
	color: #68FF7C
}

td.removed {
	color: #FF8977
}

.added {
	background-color: #68FF7C;
    display: inline;
}

.removed {
	background-color: #FF8977;
    display: inline;
}

/* SPLIT CHANGES TABLES */
.side-changes { 

}

#old {
	width: 40%;
	height: 80%;
	overflow: auto;
}

#new {
	width: 40%;
	height: 80%;
	overflow: auto;
}

